body {
  margin: 0;
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather', sans-serif;
}

/*
div.top-container{
  line-height: 2;
}
  */
h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: black;
  border-width: 6px;
  width: 4%;
  margin: 100px auto;
}


/*text-align: left;*/

p{
    line-height: 2;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: white;
}


.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50PX 0 20PX;

}

.pro {
  text-decoration: underline;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px ;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile-picture {
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.programmer-gif {
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 50%;
  border-style: ridge;
}

.photography-gif {
  width: 25%;
  float: right;
  margin-left: 30px;
  border-radius: 100%;
}

.intro{
  width: 30%;
  margin: auto;
}


/* .testbutton {
  font-family: 'Montserrat', sans-serif;
  color: #14396A !important;
  font-size: 16px;
  text-shadow: 0px 0px 1px #7CACDE;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 10px 10px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  border: 2px solid #3866A3;
  background: #63B8EE;
  background: linear-gradient(top,  #63B8EE,  #468CCF);
  background: -ms-linear-gradient(top,  #63B8EE,  #468CCF);
  background: -webkit-gradient(linear, left top, left bottom, from(#63B8EE), to(#468CCF));
  background: -moz-linear-gradient(top,  #63B8EE,  #468CCF);
}
.testbutton:hover {
  color: #14396A !important;
  background: #468CCF;
  background: linear-gradient(top,  #CF1608,  #EEE715);
  background: -ms-linear-gradient(top,  #CF1608,  #EEE715);
  background: -webkit-gradient(linear, left top, left bottom, from(#CF1608), to(#EEE715));
  background: -moz-linear-gradient(top,  #CF1608,  #EEE715);
} */



.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}


/*
.programmer-skill-description{
  clear: left;
}


.photography-skill-description{
  clear: right;
}

/*
.subtitle {
  font-weight: normal;
}
*/
